@import url(http://fonts.googleapis.com/css?family=Oxygen);
*{
margin: 0px;
}
html,body{
height: 100%;	
}
#container
{
min-width: 100%;
min-height: 100%;
}
#colorName
{
    position:absolute;
     width:300px;
     height:150px;
     z-index:10;
     top:50%;
     left:50%;
     margin:-100px 0 0 -170px;
     font-size: 40px;
     color: white;
     font-family: 'Oxygen', sans-serif;
}

#colorPallet
{
    position:absolute;
     width:500px;
     z-index:15;
     top:5%;
     left:5%;
     background-color: rgba(255,255,255,1);
 list-style:none;
    padding-left:0;
     
}
.color{
position:relative;
display: inline-block;
width:100px;
height:200px;
z-index:15;
background-color: rgba(10,50,60,0.5);

}
